body {
}
.posts {
  margin-bottom: 15px;
  padding: 1px 50px;
}
.post-wrap {
  max-height: 90vh;
  overflow: auto;
}
.tags-wrap {
  padding: 0;
}
.tags-wrap > li {
  list-style: none;
  background-color: #f6f6f6;
  margin: 5px;
  padding: 0 5px;
  display: inline-block;
  border-radius: 4px;
}
.button {
  padding: 0;
  text-align: center;
}
